/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset CSS */

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* Wrapper */

:root {
  /* Colors */
  --primary: #000;
  --sub-primary: #fff;
  --secondary: #fe4e30;
  --sub-secondary: #000;
  --tertiary: #000;
  --sub-tertiary: #000;
}


.bg-wrapper {
  padding: 0;
  /* height: 100%; */
}

@media (min-width: 640px) {
  .bg-wrapper {
    padding: 48px 0;
  }
}

@media (min-width: 1024px) {
  .bg-wrapper {
    padding: 108px 24px;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #fe4e30, #e0256d);
  }
}

/* --- Shape Start --- */

.rounded {
  border-radius: .75rem;
}

.rounded-full {
  border-radius: 99rem !important;
}

/* --- Shape Stop --- */



/* --- Header Start --- */

.header {
  width: 100%;
  padding: 20px 0;
}

.header-wrapper {
  margin: 0 auto;
  padding: 0 1.25rem;
  max-width: 1280px;
  display: flex;
}

.header-logo {
  width: 72px;
  margin-right: 48px;
}

.header-logo>img {
  width: 100%;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-nav__left {
  display: flex;
  gap: 24px;
  font-size: 1.25rem;
}

.header-nav__left>li {
  list-style: none;
}

/* --- Header Stop --- */


/* --- Link Start --- */

.link {
  transition: 100ms ease-in-out;
}

.link:hover {
  font-weight: 600;
  color: #fe4e30;
}

.link-active {
  font-weight: 600;
  color: #fe4e30;
}

/* --- Link Stop --- */


/* --- Card Start --- */

/* Card Default*/
.card {
  padding: 12px;
  border-radius: 24px;
  background-color: white;
}

.card-title {
  font-size: 2rem;
  margin-bottom: 16px;
}

/* Card - Responsive Media */
@media (min-width: 1024px) {
  .card-title {
    font-size: 3rem;
    margin-bottom: 20px;
  }
}


/* Card */
.card-split {
  border-radius: 0px;
  margin: auto;
  padding: 1.25rem;
  max-width: 1280px;
}


.card-split__desc {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.75rem;
}

.card-split__horizontal {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  font-weight: 500;
}

.card-split__left {
  width: 100%;
}

.card-split__right {
  width: 100%;
}

/* Card Split - Responsive Media */
@media (min-width: 1024px) {
  .card-split {
    border-radius: 24px;
    margin: 0 auto;
    padding: 4rem;
    max-width: 1280px;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.35);
  }

  .card-split__horizontal {
    flex-direction: row;
  }

  .card-split__left {
    width: 100%;
  }

  .card-split__right {
    width: 360px;
  }

  .card-split__desc {
    font-size: 1.15rem;
    line-height: 1.75rem;
  }
}

/* Card Profile */
.card-profile {
  border-radius: 20px;
  width: 320px;
  margin: 32px auto 0 auto;
  box-shadow: 0 8px 48px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.card-profile__img {
  width: 100%;
  height: fit-content;
  border-radius: 16px;
  overflow: hidden;
}

.card-profile__img>img {
  width: 100%;
  height: 100%;
  filter: saturate(1.20) grayscale(20%);
}

.card-profile__body {
  text-align: center;
  margin: 20px 0;
}

.card-title {
  font-weight: 800;
}

.card-profile__desc {
  font-weight: 600;
  font-size: .85rem;
  color: #3a3a3a;
}

/* --- Card Stop --- */


/* --- Button Start --- */
.btn-group {
  display: flex;
  gap: 24px;
  margin: 40px auto 0 auto;
  flex-direction: column;
}

.btn {
  text-align: center;
  border-radius: 12px;
  padding: .5rem 1.5rem;
  transition: 200ms ease-in-out;
  cursor: pointer;
}

.btn-lg {
  padding: .75rem 3rem;

}

.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--sub-primary);
  border: .5px solid #000;
}

.btn-primary:hover {
  background-color: var(--sub-primary);
  color: var(--primary);
  border: .5px solid #000;
  font-weight: 600;
}

.btn-active {
  background-color: var(--secondary);
  color: var(--sub-secondary);
  font-weight: 600;
  border: .5px solid var(--secondary);
}

.btn-transparent {
  gap: 12px;
  color: var(--primary);
  border: .5px solid rgba(0, 0, 0, 0);
}

.btn-transparent:hover {
  background-color: var(--primary);
  color: var(--sub-primary);
  border-radius: 99rem;
  border: .5px solid #000;
}

.btn-transparent__svg {
  height: 28px;
  width: 28px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  stroke: currentColor;
}

/* Social Icon - Responsive Media */
@media (min-width: 1024px) {
  .btn-group {
    margin: 40px 0 0 0;
    flex-direction: unset;
  }
}

/* --- Button Stop --- */


/* --- Social Icon Start --- */
.social-icon__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 16px;
  width: 100%;
  margin-top: 60px;
}

.social-icon {
  padding: 8px;
  border-radius: 99rem;
  background-color: var(--primary);
  color: var(--sub-primary);
  text-decoration: none;
  display: inline-flex;
  border: .5px solid #000;
}

.social-icon:hover {
  transition: 200ms ease-in-out;
}

.social-icon__svg {
  height: 28px;
  width: 28px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  stroke: currentColor;
}

#linkedin:hover {
  background-color: #0b67c3;
  border: .5px solid #0b67c3;
}

#instagram:hover {
  background-color: #e0256d;
  border: .5px solid #e0256d;
}

#facebook:hover {
  background-color: #0b61ff;
  border: .5px solid #0b61ff;
}

#twitter:hover {
  background-color: #1bbbff;
  border: .5px solid #1bbbff;
}

#github:hover {
  background-color: #ffffff;
  color: #000;
  border: .5px solid #000;
}

#personalweb:hover {
  background-color: #3a3a3a;
  border: .5px solid #3a3a3a;
}

/* Social Icon - Responsive Media */
@media (min-width: 1024px) {
  .social-icon__wrapper {
    justify-content: start;
  }
}

/* --- Social Icon Stop --- */

/* Form Input */
.card-contact {
  padding: 3rem;
  width: 100%;
  margin: 0 auto;

}

@media (min-width: 1024px) {
  .card-contact {
    padding: 3rem;
    max-width: 520px;
    margin: 0 auto;

  }
}

.form-wrapper {
  margin: 0 auto;
}

.form-group {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.form-input {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.form-submit {
  width: 100%;
  text-align: right;
}

.form-input>label {
  font-weight: 700;
}

.form-input>input,
select,
textarea {
  padding: .5rem 1rem;
  border-radius: 8px;
  border: .25px solid #ccc;
  /* border: none; */
  background-color: #fdfdfd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.form-input>input:hover,
select:hover,
textarea:hover {
  border: 2px solid #000;
}

.form-input>input:focus,
select:focus,
textarea:focus {
  background-color: #ffd8d1;
}

.form-input>input {
  height: 32px;
}

.form-input>select {
  height: 48px;
}

.form-input>textarea {
  padding: 1rem;
}

.form-input>button {
  flex-grow: unset;
}